.bg {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/images/background-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 25% left 25%;
  overflow: hidden;
}
