.letterContainerShown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.2rem;
  height: 12.8rem;
  background-color: #2463ff;
  color: #fff;
  border-radius: 40px;
  position: relative;
}

.letterContainerShown::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 1px 0px 6px #3c74ff;
}

.letterContainerShown::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px -2px 0px 3px #140e66;
}

.letter {
  font-size: 8.8rem;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

.letterContainerHidden {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.2rem;
  height: 12.8rem;
  background-color: #2463ff;
  color: #fff;
  border-radius: 40px;
  position: relative;
  opacity: 0.25;
}

.letterHidden {
  display: none;
}

@media screen and (max-width: 90em) {
  .letterContainerShown {
    width: 10.1rem;
    height: 11.5rem;
  }
  .letter {
    font-size: 7.9rem;
  }
  .letterContainerHidden {
    width: 10.1rem;
    height: 11.5rem;
  }
}

@media screen and (max-width: 64em) {
  .letterContainerShown {
    width: 6rem;
    height: 8rem;
    border-radius: 24px;
  }
  .letter {
    font-size: 6.4rem;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
  }
  .letterContainerHidden {
    width: 6rem;
    height: 8rem;
    border-radius: 24px;
  }
}

@media screen and (max-width: 53em) {
  .letterContainerShown {
    width: 6.4rem;
    height: 7.7rem;
  }
  .letterContainerHidden {
    width: 6.4rem;
    height: 7.7rem;
  }
}

@media screen and (max-width: 41em) {
  .letterContainerShown {
    width: 4rem;
    height: 6.6rem;
    border-radius: 12px;
  }
  .letterContainerHidden {
    width: 4rem;
    height: 6.6rem;
    border-radius: 12px;
  }
}
