.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  column-gap: 12.2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.wordFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 64em) and (max-width: 90em) {
  .container {
    column-gap: 11.1rem;
  }
}
