.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.wordFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 64em) {
  .container {
    margin-top: 1rem;
  }

  .wordFlex {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 41em) {
  .container {
    margin-top: 0.5rem;
  }

  .wordFlex {
    margin-bottom: 0.5rem;
  }
}
