.letterContainerShown {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 11.2rem;
  min-height: 12.8rem;
  background-color: #2463ff;
  color: #fff;
  border-radius: 40px;
  position: relative;
}

.letterContainerShown::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 1px 0px 6px #3c74ff;
}

.letterContainerShown::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px -2px 0px 3px #140e66;
}

.letter {
  font-size: 8.8rem;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

.letterContainerHidden {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 11.2rem;
  min-height: 12.8rem;
  background-color: #2463ff;
  color: #fff;
  border-radius: 40px;
  position: relative;
  opacity: 0.25;
}

.letterHidden {
  display: none;
}

@media screen and (min-width: 64em) and (max-width: 90em) {
  .letterContainerShown,
  .letterContainerHidden {
    min-width: 10.1rem;
    min-height: 11.5rem;
  }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  .letterContainerShown,
  .letterContainerHidden {
    min-width: 8.6rem;
    min-height: 11.2rem;
    border-radius: 32px;
  }

  .letterContainerShown::before,
  .letterContainerShown::after {
    border-radius: 32px;
  }

  .letter {
    font-size: 6.4rem;
  }
}

@media screen and (min-width: 32.5em) and (max-width: 48em) {
  .letterContainerShown,
  .letterContainerHidden {
    min-width: 4rem;
    min-height: 6.6rem;
    border-radius: 12px;
  }
  .letterContainerShown::before,
  .letterContainerShown::after {
    border-radius: 12px;
  }

  .letter {
    font-size: 4rem;
  }
}

@media screen and (max-width: 32.5em) {
  .letterContainerShown,
  .letterContainerHidden {
    min-width: 4rem;
    min-height: 6.6rem;
    border-radius: 12px;
  }
  .letterContainerShown::before,
  .letterContainerShown::after {
    border-radius: 12px;
  }

  .letter {
    font-size: 4rem;
  }
}
