.cardWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12rem 8.5rem 1fr;
  row-gap: 3rem;
  height: 45vh;
  background-color: #fff;
  padding: 4rem 3.8rem;
  max-width: 18vw;
  border-radius: 40px;
  flex: 0 1 auto;
}

.number {
  text-align: center;
  font-size: 8.8rem;
  color: #2463ff;
  margin-top: 2rem;
}

.title {
  margin: 0;
  font-size: 4.8rem;
  color: #261676;
  text-transform: uppercase;
  text-align: center;
}

.description {
  font-size: 2.6rem;
  color: #887dc0;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

/* Laptops */
@media screen and (min-width: 64em) and (max-width: 90em) {
  .cardWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 7.5rem 1fr;
    padding: 2rem 3rem;
  }

  .number {
    font-size: 8rem;
  }

  .title {
    font-size: 4.3rem;
  }

  .description {
    font-size: 2.3rem;
  }
}

/* Tablets */
@media screen and (min-width: 48em) and (max-width: 64em) {
  .cardWrapper {
    grid-template-columns: 10rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-height: 10vh;
    min-width: 80vw;
    max-width: auto;
    gap: 1rem;
    row-gap: 0;
  }

  .number {
    grid-column: 1;
    grid-row: 1 / -1;
    font-size: 7rem;
  }

  .title {
    grid-column: 2;
    grid-row: 1;
    font-size: 3.8rem;
    text-align: start;
  }

  .description {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    width: 100%;
    font-size: 2rem;
    text-align: start;
  }
}

@media screen and (min-width: 32.5em) and (max-width: 48em) {
  .cardWrapper {
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 5rem 1fr;
    max-height: 13vh;
    min-width: 80vw;
    max-width: auto;
    gap: 1rem;
    row-gap: 0;
  }

  .number {
    grid-column: 1;
    grid-row: 1;
    font-size: 3.8rem;
    margin-top: 0;
    justify-self: start;
  }

  .title {
    grid-column: 2;
    grid-row: 1;
    font-size: 3.8rem;
    text-align: start;
  }

  .description {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: start;
    width: 100%;
    font-size: 2rem;
    text-align: start;
  }
}

@media screen and (max-width: 32.5em) {
  .cardWrapper {
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 5rem 1fr;
    max-height: 14vh;
    min-width: 80vw;
    max-width: auto;
    gap: 1rem;
    row-gap: 0;
    padding: 3rem 2rem;
  }

  .number {
    grid-column: 1;
    grid-row: 1;
    font-size: 3rem;
    margin-top: 0;
    justify-self: start;
  }

  .title {
    grid-column: 2;
    grid-row: 1;
    font-size: 3rem;
    text-align: start;
  }

  .description {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: start;
    width: 100%;
    font-size: 1.8rem;
    text-align: start;
  }
}
