.outerWrapper {
  height: 100%;
  width: 100%;
  background: rgba(26, 4, 58, 0.75);
  background: linear-gradient(
    180deg,
    rgba(26, 4, 58, 0.75) 0%,
    rgba(21, 18, 120, 0.75) 70%,
    rgba(43, 22, 119, 0.75) 100%
  );
}

.innerWrapper {
  padding: 8rem 11.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.topFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topFlexTitle {
  font-size: 13.6rem;
  font-weight: 400;
  margin: 0;
  background: #67b6ff;
  background: linear-gradient(to bottom, #67b6ff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.backButton {
  display: inline-block;
  height: 9.4rem;
  width: 9.4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  background: #fe71fe;
  background: linear-gradient(to bottom, #fe71fe 0%, #7199ff 100%);
  position: relative;
}

.backButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -6px 0px 7px rgba(157, 45, 245, 0.25);
  border-radius: 50%;
  z-index: 1;
}

.bottomFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
