.letterContainerShown {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10.9rem;
  height: 100%;
  min-height: 8rem;
  background-color: #fff;
  color: #261676;
  border-radius: 24px;
  transition: all 0.15s ease;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.letterContainerShown:hover {
  background-color: #2463ff;
}

.letterContainerShown:hover .letter {
  color: #fff;
}

.letterContainerShown:disabled:hover .letter {
  color: inherit;
}

.letter {
  font-size: 4.8rem;
  color: #261676;
  font-weight: normal;
  text-transform: uppercase;
}

.letterContainerShown[disabled] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.9rem;
  height: 100%;
  min-height: 8rem;
  background-color: #fff;
  color: #261676;
  border-radius: 24px;
  transition: all 0.15s ease;
  font-family: inherit;
  border: none;
  opacity: 0.25;
  cursor: auto;
}

/* Laptops */
@media screen and (min-width: 64em) and (max-width: 90em) {
  .letterContainerShown,
  .letterContainerShown[disabled] {
    min-width: 9rem;
    height: 100%;
    min-height: 8rem;
  }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  .letterContainerShown,
  .letterContainerShown[disabled] {
    min-width: 6.4rem;
    min-height: 8.4rem;
    max-width: 6.4rem;
    max-height: 8.4rem;
  }
}

@media screen and (min-width: 32.5em) and (max-width: 48em) {
  .letterContainerShown {
    min-width: 2.9rem;
    min-height: 5.6rem;
    border-radius: 8px;
  }

  .letterContainerShown[disabled] {
    min-width: 2.9rem;
    min-height: 5.6rem;
    border-radius: 8px;
    max-width: 2.9rem;
    max-height: 5.6rem;
  }

  .letter {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 32.5em) {
  .letterContainerShown {
    min-width: 2.9rem;
    min-height: 5.6rem;
    border-radius: 8px;
  }

  .letterContainerShown[disabled] {
    min-width: 2.9rem;
    min-height: 5.6rem;
    border-radius: 8px;
    max-width: 2.9rem;
    max-height: 5.6rem;
  }

  .letter {
    font-size: 2.4rem;
  }
}
