.outerWrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(25, 1, 49);
  background: linear-gradient(
    180deg,
    rgba(25, 1, 49, 0.6) 0%,
    rgba(40, 43, 150, 0.6) 100%
  );
}

.innerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45rem;
  width: 60rem;
  background: rgb(52, 74, 186);
  background: linear-gradient(
    180deg,
    rgba(52, 74, 186, 1) 0%,
    rgba(0, 20, 121, 0.83) 83%
  );
  border-radius: 72px;
  box-shadow: inset 0px 6px 0px 8px #2463ff;
  position: relative;
  z-index: 0;
  gap: 3.4rem;
}

.menuBox::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 72px;
  box-shadow: inset 0px -8px 0px 4px #140e66;
  z-index: 1;
}

.buttonContinue,
.buttonCategory,
.buttonQuit {
  display: inline-block;
  border: none;
  padding: 1.2rem 6.4rem;
  font-size: 3.2rem;
  font-family: inherit;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.buttonContinue,
.buttonCategory {
  box-shadow: inset 0px 1px 0px 6px #3c74ff;
}

.buttonContinue::after,
.buttonCategory::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px -2px 0px 3px #140e66;
}

.buttonContinue {
  margin-top: 4rem;
  background-color: #2463ff;
}

.buttonCategory {
  background-color: #2463ff;
}

.buttonQuit {
  background: rgb(254, 113, 254);
  background: linear-gradient(
    180deg,
    rgba(254, 113, 254, 1) 0%,
    rgba(113, 153, 255, 1) 100%
  );
  box-shadow: inset 0px 1px 0px 6px #c642fb;
}

.buttonQuit::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px -2px 0px 3px #140e66;
}

.buttonContinue:hover::before,
.buttonCategory:hover::before,
.buttonQuit:hover::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
}

.menuBoxTitle {
  font-size: 12.8rem;
  font-weight: 400;
  margin: 0;
  background: #67b6ff;
  background: linear-gradient(to bottom, #67b6ff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
