.letterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.2rem;
  height: 12.8rem;
  background-color: #2463ff;
  color: #fff;
  border-radius: 40px;
  position: relative;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.letterContainer::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 1px 0px 6px #3c74ff;
}

.letterContainer::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px -2px 0px 3px #140e66;
}

.letter {
  font-size: 8.8rem;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}
