.letterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.2rem;
  height: 12.8rem;
  background-color: #2463ff;
  color: #fff;
  border-radius: 40px;
  position: relative;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.letterContainer::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 1px 0px 6px #3c74ff;
}

.letterContainer::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px -2px 0px 3px #140e66;
}

.letter {
  font-size: 8.8rem;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 90em) {
  .letterContainer {
    width: 10.1rem;
    height: 11.5rem;
  }
  .letter {
    font-size: 7.9rem;
  }
  .letterContainerHidden {
    width: 10.1rem;
    height: 11.5rem;
  }
}

@media screen and (max-width: 64em) {
  .letterContainer {
    width: 4.8rem;
    height: 6.4rem;
  }
  .letter {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 53em) {
  .letterContainer {
    width: 6.4rem;
    height: 7.7rem;
  }
}

@media screen and (max-width: 41em) {
  .letterContainer {
    width: 3rem;
    height: 5.6rem;
    border-radius: 12px;
  }
}
