.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startWrapper {
  height: 50rem;
  width: 59.2rem;
  border-radius: 72px;
  background: rgb(52, 74, 186);
  background: linear-gradient(
    180deg,
    rgba(52, 74, 186, 1) 0%,
    rgba(0, 20, 121, 0.83) 100%
  );
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  box-shadow: inset 0px 6px 0px 8px #2463ff;

  position: relative;
  z-index: 10;
}

.startWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -8px 0px 4px #140e66;
  border-radius: 72px;
  z-index: 1;
}

.startWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 6px 0px 8px #2463ff;
  border-radius: 72px;
  z-index: 0;
}

.howToPlayButton {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-size: 3.2rem;
  color: #fff;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: #2463ff;
  padding: 1.2rem 6.4rem;
  border-radius: 40px;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 4;
}

.howToPlayButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  z-index: 0;
  background-color: transparent;
  transition: all 0.2s ease;
  box-shadow: inset 0px 1px 0px 6px #3c74ff;
}

.howToPlayButton:hover::before {
  background-color: rgba(255, 255, 255, 0.25);
}

.howToPlayButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -2px 0px 3px #140e66;
  border-radius: 40px;
  z-index: 0;
}

.playButton {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  cursor: pointer;
  border: none;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;

  background: rgb(254, 113, 254);
  background: linear-gradient(
    180deg,
    rgba(254, 113, 254, 1) 0%,
    rgba(113, 153, 255, 1) 100%
  );
}

.playButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 0;
  background-color: transparent;
  transition: all 0.3s ease;
  box-shadow: inset 0px -12px 0px 11px #9d2df5;
}

.playButton:hover::before {
  background-color: rgba(255, 255, 255, 0.25);
}

.playButton::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -4px 0px 5px #243041;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@media screen and (max-width: 32.5em) {
  .wrapper {
    padding: 0.5rem;
  }

  .startWrapper {
    height: 48rem;
    width: 32.5rem;
  }

  .startWrapper::before,
  .startWrapper::after {
    box-shadow: inset 0px -6px 0px 4px #140e66;
  }

  .playButton {
    height: 16rem;
    width: 16rem;
  }

  .howToPlayButton {
    width: 22rem;
    font-size: 2.8rem;
    padding: 1rem 5rem;
    margin-bottom: 5rem;
  }

  .logo {
    width: 26rem;
    height: 13rem;
    transform: scale(0.65) translate(-50%, -50%);
    left: 25%;
    top: -6%;
  }

  .logoIcon {
    width: 40%;
    height: 40%;
  }
}

@media screen and (min-width: 32.5em) and (max-width: 48em) {
  .wrapper {
    padding: 1rem;
  }

  .startWrapper {
    height: 50rem;
    width: 59.2rem;
  }

  .startWrapper::before,
  .startWrapper::after {
    box-shadow: inset 0px -8px 0px 4px #140e66;
  }

  .playButton {
    height: 20rem;
    width: 20rem;
  }

  .howToPlayButton {
    width: 26rem;
    height: 6.2rem;
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }

  .logo {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
  }

  .logoIcon {
    width: 40%;
    height: 40%;
  }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  .wrapper {
    padding: 1rem;
  }

  .startWrapper {
    height: 50rem;
    width: 59.2rem;
  }

  .startWrapper::before,
  .startWrapper::after {
    box-shadow: inset 0px -8px 0px 4px #140e66;
  }

  .playButton {
    height: 20rem;
    width: 20rem;
  }

  .howToPlayButton {
    width: 26rem;
    height: 6.2rem;
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }

  .logo {
    width: 37.4rem;
    height: 18.5rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
  }
}

@media screen and (min-width: 64em) and (max-width: 90em) {
  .wrapper {
    padding: 1rem;
  }

  .startWrapper {
    height: 50rem;
    width: 59.2rem;
  }

  .startWrapper::before,
  .startWrapper::after {
    box-shadow: inset 0px -8px 0px 4px #140e66;
  }

  .playButton {
    height: 20rem;
    width: 20rem;
  }

  .howToPlayButton {
    width: 26rem;
    height: 6.2rem;
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }

  .logo {
    width: 37.4rem;
    height: 18.5rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
  }
}
